/* app/globals.css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);

  /*  CUSTOM BREAKPOINTS  */
  --breakpoint-xs: 400px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-ml: 910px;
  --breakpoint-lg: 1150px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Arial, Helvetica, */
  font-family: var(--font-poppins), sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

.footer-bg {
  background-image: url("../public/footer-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .footer-bg {
    background-image: url("../public/footer-desktop.png");
  }
}

.list-circle {
  list-style: circle;
  list-style-type: circle;
}

.quote-hero-bg {
  background-image: url("../public/quote-hero-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .quote-hero-bg {
    background-image: url("../public/quote-hero-desktop.png");
  }
}
